@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

.root {
	-fx-background-image: url("chalkboard-background.jpg");
	
	-fx-background-color: black;
	-fx-color: white;
}

.CoffeeMilkText{
	-fx-color: white;
	-fx-font-family: 'Fredericka the Great', cursive;
	-fx-color: white;
}

.mainBackground {
	-fx-background-image: url("chalkboard-background.jpeg");
	
	-fx-background-color: black;
}

.CoffeeButton{
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.TeaButton{
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.CrosButton{
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.CookieButton{
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.macButton{
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.Minus{
	-fx-background-color: green;
}
