@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');


.root {
	-fx-background-image: url("https://img.freepik.com/free-photo/black-chalk-board-texture_89245-170.jpg?size=626&ext=jpg");
	-fx-background-color: black;
	-fx-font-family: 'Fredericka the Great', cursive;
	-fx-color: white;
	-fx-width: 100%;
	-fx-height: 100%;
}

#addToCartButton {
	-fx-font-size: 30px;
	-fx-text-fill: white;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-family: 'Fredericka the Great', cursive;
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

#addToCartButton:hover {
	-fx-text-fill: yellow;
}


.deleteButton {
	-fx-text-fill: white;
	-fx-background-color: red;
	-fx-font-family: 'Fredericka the Great', cursive;
	-fx-font-size: 20px;
}

.deleteButton:hover {
	-fx-text-fill: white;
	-fx-background-color: #C90000;
}
.CoffeeMilkText{
	-fx-text-fill: white;
	-fx-font-family: 'Fredericka the Great', cursive;
}

.mainBackground {
	-fx-background-image: url("https://img.freepik.com/free-photo/black-chalk-board-texture_89245-170.jpg?size=626&ext=jpg");
	-fx-background-size: cover;
	-fx-background-color: black;
	-fx-width: 100%;
	-fx-mid-height: 100%;
}

.tabButton{
	-fx-font-size: 100%;
	-fx-text-fill: white;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-family: 'Fredericka the Great', cursive;
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.tabButton:hover {
	-fx-text-fill: yellow;
	
}

.teaToppings {
	-fx-font-size: 130%;
	-fx-text-fill: white;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-family: 'Fredericka the Great', cursive;
	-fx-background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.teaToppings:hover {
	-fx-text-fill: green;
}

.Minus{
	-fx-background-color: white;
}


.sizeBox {
	-fx-font-size: 100%;
	-fx-text-fill: white;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-family: 'Fredericka the Great', cursive;
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.smlButtons {
	-fx-font-size: 100%;
	-fx-text-fill: white;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-family: 'Fredericka the Great', cursive;
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.selectTypeBox {
	-fx-font-size: 100%;
	-fx-text-fill: white;
	-fx-background-color: rgba(255,255,255, 0.3);
	-fx-font-family: 'Fredericka the Great', cursive;
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.uniBackground {
	-fx-background-color: rgba(0, 0, 0, 0);
}

.backToMenuBtn {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 25px;
}

.custNameLabel {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 20px;
}

.custNameField {
	-fx-text-fill: red;
	-fx-background-color: white;
	-fx-opacity: .42;
	-fx-font-size: 25px;
}

.cashTenderedLabel {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

.cashTenderedField {
	-fx-text-fill: green;
	-fx-background-color: white;
	-fx-opacity: .42;
	-fx-font-size: 25px;
}

.couponCodeLabel {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 16px;
}

.couponCodeField {
	-fx-text-fill: green;
	-fx-background-color: white;
	-fx-opacity: .42;
	-fx-font-size: 25px;
}

.changeDueField {
	-fx-text-fill: white;
	-fx-background-color: white;
	-fx-opacity: .42;
}

.changeDueLabel {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 12px;
}
.payBtn:hover {
	
	-fx-text-fill: green; 
}

.payBtn {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 35px;
}

.applyCouponsBtn {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 35px;
}

.applyCouponsBtn:hover {
	-fx-text-fill: green;
}

.changeDueAmount {
	-fx-text-fill: white;
	-fx-font-size: 35px;
}
.addToCartButton {
	-fx-font-size: 30px;
	-fx-text-fill: white;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-font-family: 'Fredericka the Great', cursive;
	background-image: none;
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.toppingAmt {
	-fx-text-fill: green;
}
